body {
    font-size: 1rem;
}

label {
    font-size: 1.2rem;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

.options {
    display: grid;
    align-items: center;
    grid-template-columns: 270px auto;
    margin: 20px 0;
}

.options div {
    min-height: 40px;
}

.optionButtons {
    margin: 10px 0;
}

input[type="number"] {
    width: 70px;
    height: 20px;
}

textarea,
input[type="text"] {
    width: 300px;
}

input[type="checkbox"] {
    display: block;
}

textarea {
  height: 100px;
}

.var {
    font-family: monospace;
    width: 200px !important;
}
