/* Only apply CSS to XUL windows */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/********** Tabs **********/

#TabsToolbar #alltabs-button,
#TabsToolbar #new-tab-button {
    /* Hide buttons that would appear next to tabs container */
    display: none !important;
}

#TabsToolbar #tabs-newtab-button {
    margin: 0 !important;
    display: var(--paxmod-display-newtab) !important;
    align-self: flex-end;
    /* In some configurations the button may be hidden */
    visibility: visible !important;
}

#tabbrowser-tabs {
    /* No padding, even when some tabs are pinned (see GH-88) */
    padding-inline: 0 !important;
}

#tabbrowser-arrowscrollbox::part(scrollbox-clip) {
    /* Required, so the scrollbox always shows all tabs */
    display: block !important;
}

#tabbrowser-arrowscrollbox::part(scrollbutton-up),
#tabbrowser-arrowscrollbox::part(scrollbutton-down) {
    display: none !important;
}

#tabbrowser-arrowscrollbox::part(overflow-start-indicator),
#tabbrowser-arrowscrollbox::part(overflow-end-indicator) {
    /* With multi-row tabs, we don't want overflow indicators */
    display: none !important;
}

#tabbrowser-arrowscrollbox::part(scrollbox) {
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
    max-height: calc(var(--tab-min-height) * var(--paxmod-max-tab-rows)) !important;
    /* Causes the scrollbar to appear when overflowing */
    overflow-y: auto !important;
    scrollbar-width: thin !important;
    scrollbar-color: var(--toolbarbutton-active-background) transparent;
    scroll-snap-type: y mandatory !important;
    scroll-snap-stop: always !important;
}

/********** Single tab **********/

.tabbrowser-tab {
    font: var(--paxmod-font) !important;
    width: var(--paxmod-tab-size) !important;
    min-width: var(--paxmod-min-tab-size) !important;
    max-width: var(--paxmod-max-tab-size) !important;
    /* Explicit min-height rule is only needed for non-Proton UI */
    min-height: var(--tab-min-height) !important;
    flex-grow: 1;
    /* Can't completely disable transitions, otherwise tabs have small pixel
     * offsets after closing some tabs */
    transition-duration: .1ms !important;
    scroll-snap-align: start !important;
    scroll-margin: var(--tab-min-height) !important;
}

.tabbrowser-tab .tab-label-container {
    /* Unset fixed label height to allow smaller tab min height */
    height: initial !important;
}

.tabbrowser-tab .tab-secondary-label {
    /* Don't show text like "MUTED" or "PLAYING" after tab label... */
    display: none;
}

.tabbrowser-tab .tab-icon-stack[indicator-replaces-favicon] > *|*.tab-icon-overlay {
    /* ...but make the indicator icon (e.g. for playing/muted tab) visible... */
    opacity: 1 !important;
}

.tabbrowser-tab .tab-icon-stack[indicator-replaces-favicon] > *|*:not(.tab-icon-overlay) {
    /* ...and hide the favicon since the indicator overlays it. */
    opacity: 0 !important;
}

/* Required to hide closing tabs */
.tabbrowser-tab:not([pinned]):not([fadein]) {
    visibility: hidden !important;
    max-width: 0 !important;
    min-width: 0 !important;
}

/* Need specific selector here to overrule !important from browser style */
#titlebar #tabbrowser-tabs > #tabbrowser-arrowscrollbox > .tabbrowser-tab[pinned] {
    flex-grow: 0 !important;
    width: initial !important;
    min-width: initial !important;
    position: initial !important;
}

/* Hide tab close button by default... */
.tabbrowser-tab:not([pinned]) .tab-close-button {
    display: var(--paxmod-display-close-button) !important;
}

/* ...and show it when hovering. */
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: initial !important;
}

/********** Titlebar **********/

:root[tabsintitlebar] #titlebar .titlebar-buttonbox-container {
    /* Give users an option to hide the min/max/close buttions */
    display: var(--paxmod-titlebar-display);
}

:root[tabsintitlebar] #titlebar .titlebar-buttonbox {
    /* Otherwise, the inline min/max/close buttons on Windows (and maybe MacOS)
     * will stretch to the full height of multiple tab rows */
    display: inline-block;
}

.titlebar-spacer[type="post-tabs"],
.titlebar-spacer[type="pre-tabs"] {
    max-width: var(--paxmod-titlebar-placeholders) !important;
    border: none !important;
}
