/* Only apply CSS to XUL windows */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#nav-bar toolbaritem,
#urlbar .urlbar-input-box,
#urlbar #identity-box,
.tabbrowser-tab,
#PersonalToolbar {
    font-family: var(--paxmod-font-family) !important;
    font-size: var(--paxmod-font-size) !important;
}

/********** Tabs **********/

#tabbrowser-tabs, #tabbrowser-arrowscrollbox {
    /* Otherwise, a single tab row is too high */
    min-height: 0 !important;
}

#alltabs-button {
    display: none !important;
}

#new-tab-button {
    display: none !important;
}

toolbarbutton#tabs-newtab-button {
    margin: 0 !important;
    display: var(--paxmod-display-newtab) !important;
    align-self: flex-end;
    /* In some configurations the button may be hidden */
    visibility: visible !important;
}

#tabbrowser-tabs #tabbrowser-arrowscrollbox {
    /* Required, so the scrollbox always shows all tabs */
    display: block;
}

#tabbrowser-arrowscrollbox::part(scrollbutton-up),
#tabbrowser-arrowscrollbox::part(scrollbutton-down) {
    /* Doesn't make sense to scroll through multi-row tabs since they are all
     * visible */
    display: none !important;
}

#tabbrowser-arrowscrollbox::part(scrollbox) {
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

#tabbrowser-arrowscrollbox::part(arrowscrollbox-overflow-start-indicator),
#tabbrowser-arrowscrollbox::part(arrowscrollbox-overflow-end-indicator) {
    /* With multi-row tabs, we don't want overflow indicators */
    display: none;
}

/********** Single tab **********/

.tabbrowser-tab {
    width: var(--paxmod-tab-size) !important;
    min-width: var(--paxmod-min-tab-size) !important;
    max-width: var(--paxmod-max-tab-size) !important;
    flex-grow: 1;
    /* Can't completely disable transitions, otherwise tabs have small pixel
     * offsets after closing some tabs */
    transition-duration: .1ms !important;
    min-height: var(--tab-min-height) !important;
}

/* Required to hide closing tabs */
.tabbrowser-tab:not([pinned]):not([fadein]) {
    visibility: hidden !important;
    max-width: 0px !important;
    min-width: 0px !important;
}

.tabbrowser-tab[pinned] {
    flex-grow: 0 !important;
    width: initial !important;
    min-width: initial !important;
}

.tabbrowser-tab .tab-stack {
    /* Otherwise, tabs don't occupy their full designated space */
    /* TODO still required? */
    width: 100% !important;
    height: 100% !important;
}

/* Hide tab close button by default... */
.tabbrowser-tab:not([pinned]) .tab-close-button {
    display: var(--paxmod-display-close-button) !important;
}

/* ...and show it when hovering. */
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: initial !important;
}

/********** Titlebar **********/

:root[tabsintitlebar] #titlebar .titlebar-buttonbox-container {
    /* Give users an option to hide the min/max/close buttions */
    display: var(--paxmod-titlebar-display);
}

:root[tabsintitlebar] #titlebar .titlebar-buttonbox {
    /* Otherwise, the inline min/max/close buttons on Windows (and maybe MacOS)
     * will stretch to the full height of multiple tab rows */
    display: inline-block;
}

.titlebar-spacer[type="post-tabs"],
.titlebar-spacer[type="pre-tabs"] {
    max-width: var(--paxmod-titlebar-placeholders) !important;
    border: none !important;
}

/********** Legacy **********/
/* All following rules are kept to accommodate older versions */

/* FF < 76 */

#tabbrowser-tabs, .tabbrowser-arrowscrollbox {
    /* Otherwise, a single tab row is too high */
    min-height: 0 !important;
}

#tabbrowser-tabs .tabbrowser-arrowscrollbox {
    /* Required, so the scrollbox always shows all tabs */
    display: block;
}

.tabbrowser-arrowscrollbox::part(scrollbutton-up),
.tabbrowser-arrowscrollbox::part(scrollbutton-down) {
    /* Doesn't make sense to scroll through multi-row tabs since they are all
     * visible */
    display: none !important;
}

.tabbrowser-arrowscrollbox::part(scrollbox) {
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

.tabbrowser-arrowscrollbox::part(arrowscrollbox-overflow-start-indicator),
.tabbrowser-arrowscrollbox::part(arrowscrollbox-overflow-end-indicator) {
    /* With multi-row tabs, we don't want overflow indicators */
    display: none;
}
