/* Only apply CSS to XUL windows */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
    --paxmod-grid-color: var(--lwt-toolbar-field-border-color) !important;
    --paxmod-outline-color-focus: var(--toolbar-field-focus-border-color) !important;
}

#urlbar {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    min-height: 0 !important;
    height: 24px !important;
    border-right: 1px solid var(--paxmod-grid-color) !important;
    border-left: 1px solid var(--paxmod-grid-color) !important;
}

#urlbar,
#urlbar-zoom-button,
#tabbrowser-tabs::before,
.tabbrowser-tab,
#PersonalToolbar {
    font-family: var(--paxmod-font-family) !important;
    font-size: var(--paxmod-font-size) !important;
}

#nav-bar {
    padding: 0 !important;
    /* Needed to overlap with tab outline above. */
    margin-top: -1px !important;
}

#navigator-toolbox #TabsToolbar:not([collapsed="true"]) + #nav-bar {
    border: 1px solid var(--paxmod-grid-color) !important;
    box-shadow: none !important;
}

#TabsToolbar .private-browsing-indicator {
    width: 16px !important;
    height: 16px !important;
}

#nav-bar > #nav-bar-customization-target toolbarbutton,
#PersonalToolbar toolbarbutton,
#nav-bar #nav-bar-overflow-button,
#PanelUI-menu-button {
    padding: 0 !important;
    margin: 0 !important;
    min-width: 24px !important;
    border-radius: 0 !important;
}

#nav-bar > #nav-bar-customization-target .toolbarbutton-icon,
#nav-bar .toolbarbutton-icon,
#nav-bar .urlbar-icon {
    width: 24px !important;
    height: 24px !important;
    padding: 4px !important;
    margin: 0 !important;
    border-radius: 0 !important;
}

/* The dropdown arrow in the urlbar */
#nav-bar .urlbar-history-dropmarker {
    width: 16px !important;
    padding: 0 !important;
}

/* The burger menu button right to the address bar */
#nav-bar #PanelUI-button {
    margin: 0 !important;
    border: none !important;
}

/* Inside the burger menu right to the address bar */
.toolbarbutton-badge-stack {
    padding: 0 !important;
    border-radius: 0 !important;
}

#identity-box {
    padding-inline-start: 4px !important;
    padding-inline-end: 4px !important;
}

#navigator-toolbox::after {
    /* No bottom border between navigator toolbox and site content */
    border: none !important;
}

#urlbar-zoom-button {
    height: 24px !important;
    padding: 4px !important;
    border: none !important;
    border-radius: 0 !important;
}

/********** Buttons **********/

#back-button .toolbarbutton-icon {
    width: 16px !important;
    height: 16px !important;
    border: none !important;
}

#back-button > .toolbarbutton-icon {
    /* No special background for back button */
    background-color: inherit !important;
}

/********** Tabs **********/

#tabbrowser-tabs, .tabbrowser-arrowscrollbox {
    /* Otherwise, a single tab row is too high */
    min-height: 0 !important;
}

#tabbrowser-tabs .scrollbutton-up,
#tabbrowser-tabs .scrollbutton-down {
    display: none !important;
}

#alltabs-button {
    display: none !important;
}

#new-tab-button {
    display: none !important;
}

#tabbrowser-tabs .tabs-newtab-button {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    display: var(--paxmod-display-newtab);
}

#tabbrowser-tabs .tabs-newtab-button .toolbarbutton-icon {
    width: 24px !important;
    height: 24px !important;
    padding: 4px !important;
    border-radius: 0 !important;
}

#tabbrowser-tabs .tabbrowser-arrowscrollbox,
#tabbrowser-tabs .tabbrowser-arrowscrollbox > scrollbox {
    display: block;
}

#tabbrowser-tabs .tabbrowser-arrowscrollbox > scrollbox > box {
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

/* Version info display */
#tabbrowser-tabs::before {
    content: var(--paxmod-version);
    color: #555;
    position: absolute;
    right: 6px;
    top: 6px;
    display: var(--paxmod-display-version);
}

#tabbrowser-tabs .arrowscrollbox-overflow-start-indicator,
#tabbrowser-tabs .arrowscrollbox-overflow-end-indicator {
    /* Required for multi-row tabs */
    display: none;
}

#tabbrowser-tabs .arrowscrollbox-scrollbox {
    /* Align tabs with grid */
    padding-bottom: 1px;
    padding-right: 1px;
}

/********** Single tab **********/

.tabbrowser-tab {
    width: 10% !important;
    min-width: 150px !important;
    max-width: 300px !important;
    flex-grow: 1;
    padding: 0 !important;
    height: 24px !important;
    /* Align tabs with grid */
    margin-left: 1px;
    margin-top: 1px;
    outline: 1px solid var(--paxmod-grid-color) !important;
    /* Can't completely disable transitions, otherwise tabs have small pixel
     * offsets after closing some tabs */
    transition-duration: .1ms !important;
}

/* Required to hide closing tabs */
.tabbrowser-tab:not([pinned]):not([fadein]) {
    visibility: hidden !important;
    max-width: 0px !important;
    min-width: 0px !important;
}

.tabbrowser-tab[selected] {
    outline: 1px solid var(--paxmod-outline-color-focus) !important;
}

.tabbrowser-tab[pinned] {
    width: 24px !important;
    min-width: 0 !important;
    flex-grow: 0 !important;
}

.tabbrowser-tab[pinned] .tab-icon-overlay {
    /* Hides overlays such as mute icon for pinned tabs */
    display: none !important;
}

.tabbrowser-tab:hover {
    outline: 1px dashed var(--paxmod-outline-color-focus) !important;
    z-index: 2 !important;
}

.tabbrowser-tab:after {
    /* Otherwise, a tab's outline doesn't overlap the grid. */
    display: none !important;
}

.tabbrowser-tab .tab-background {
    /* Otherwise, there is space between the top tab line and the tab border. */
    border: none !important;
}

.tabbrowser-tab .tab-stack {
    width: 100% !important;
    height: 100% !important;
}

.tabbrowser-tab .tab-content {
    padding: 0 4px !important;
}

.tabbrowser-tab .tab-label-container {
    padding-left: 4px !important;
}

.tabbrowser-tab .tab-throbber,
.tabbrowser-tab .tab-throbber-fallback, 
.tabbrowser-tab .tab-icon-image {
    margin-inline-end: 0 !important;
    height: 16px !important;
    width: 16px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.tab-icon-image:not([src]) {
    outline: 1px dashed #555 !important;
    outline-offset: -1px;
}

/* Show close button only when hovering */

.tabbrowser-tab .tab-close-button {
    display: none !important;
    margin-top: 0 !important;
}

.tabbrowser-tab:hover .tab-close-button {
    display: -moz-box !important;
}

.tabbrowser-tab[pinned]:hover .tab-close-button {
    /* Otherwise, the pinned tab takes exessive space */
    display: none !important;
}

/********** Bookmarks Toolbar **********/

#PersonalToolbar {
    padding: 0 !important;
    height: 25px !important; /* That's 24px + border */
    border: 1px solid var(--paxmod-grid-color) !important;
    border-top: none !important;
}

#PersonalToolbar toolbarbutton {
    padding: 0 4px !important;
}

/********** Remove titlebar **********/

#main-window[sizemode="normal"] > #titlebar {
    display: var(--paxmod-titlebar-display);
}

#titlebar {
    visibility: var(--paxmod-titlebar-visibility);
}

#TabsToolbar > .titlebar-placeholder {
    display: var(--paxmod-titlebar-display);
}
